build.gradle

/app/build
*.iml
.gradle

/gradle/wrapper
gradle-wrapper.properties

/local.properties

/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

.DS_Store
/captures
.externalNativeBuild